header {
  position: sticky;
}
#Top {
  list-style-type: none;
  margin-left: 0px;
}
.top {
  float: left;
  list-style-type: none;
}

.dropbtn {
  background-color: #eeeeee;
  color: rgb(0, 0, 0);
  padding: 0 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 6;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

#Help:hover, #Quit:hover {
  background-color: #3e8e41;
}
#Help, #Quit {
  background-color: #eeeeee;
  color: rgb(0, 0, 0);
  padding: 0 16px;
  font-size: 16px;
  border: none;
  display: inline-block;
}

#Quit {
  float: right;
}

.dropmenu {
  list-style-type: none;
  padding: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
button {
  align: left;
}
.students {
  width:100%;
  border: 1px solid black;
}
tr:active {
  background-color: #f1f1f1;
}
button.active {
  background-color: #3e8e41;
}
#left {
  float: left;
  width: 30%;
}
#right {
  float: right;
  width: 70%;
  height:70vh;
  overflow-y: scroll;
}
#studentlist {
  margin-top:1px;
  height:90vh;
  overflow-y: scroll;
  width: 29%;
  z-index:5;
}
.MenArea {
  float:left;
  list-style-type:none;
  border:1px solid black;
}
.save {
  position: relative;
  border: 1px solid  #f1f1f1;
  max-width: fit-content;
  margin-left: 1%;
  display:inline;
  background-color:#f1f1f1;
}
.save:hover {
  border: 1px solid  #d7d7d7;
  background-color:#d7d7d7;
}
#bott {
  margin-top:1vh;
  margin-left: calc((1vh + 1vw) / 2);
  height: 19vh;
  width: 70%;
}

#noteArea {
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  resize: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  width: 100%;
  height:100%;
  overflow-y:scroll;
}